@import "config";
@import "utilities";
@import "_item_grid.scss";

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 150px;
  height: 150px;
  color: #fff;
  text-transform: uppercase;
  margin-top: -2rem;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $main-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  // Header Home
  &-home {
    background: $bg-image no-repeat center / cover;
    height: 100vh;
    color: #fff;

    // Header Content
    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }

  //   Header Inner
  &-inner {
    background: $bg-image no-repeat 20% 30% / cover;
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
  }
}

// Home Sections

// Home Section A
#home {
  &-a {
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 0.25rem;
      grid-template-columns: repeat(4, 1fr);

      .fab {
        color: $mix-color;
        padding-bottom: 0.4rem;
      }
    }
  }

  // Home Section B
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }

        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }
      div {
        padding: 3rem 0;

        &:nth-child(odd) {
          background-color: $mix-color;
        }

        &:nth-child(even) {
          background-color: $medium-color;
        }
      }
    }
  }

  // Home Section C
  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      // Process-step
      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background: $mix-color;
        color: set-text-color($mix-color);
        border-radius: 50%;
        width: 10px;
        line-height: 10px;
        padding: 1rem;
        transition: all 1s;
      }

      // Process-icon
      &-icon {
        border-radius: 50%;
        background: $dark-color;
        color: set-text-color($dark-color);
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 1s;

        &:hover {
          background: $mix-color;
          width: 90px;
          height: 90px;
          line-height: 90px;

          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }
    }
  }
}

// About Sections

#about {
  &-a {
    .about-info {
      display: grid;
      grid-template-areas: "bioimage bio bio";
      grid-gap: 1.2rem;
    }
    // Grid-Area
    .bio-image {
      grid-area: bioimage;
      // object-fit: cover;
      // width: 100%;
      // height: 100%;
    }

    .bio {
      grid-area: bio;
      border-left: 3px solid $mix-color;
      padding: 0.8rem;
    }
  }
  // Section B
  &-b {
    .testimonials {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0.5rem;

      ul {
        list-style: none;
        margin-top: 1rem;
        display: flex;
        align-items: center;
      }

      p {
        border: 1px solid $medium-color;
        border-radius: 5px;
        padding: 0.5rem;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
    }
  }

  // Section C (Plane Animations)
  &-c {
    animation-name: fly;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 5;
    color: $mix-color;
  }
  @keyframes fly {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
  }
}

// Contact Page
#contact {
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas:
        "name email"
        "subject phone"
        "message message";
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;

      // Grid Areas
      .name-input {
        grid-area: name;
      }
      .subject-input {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
        height: 100px;
      }
      .text-input {
        padding: 0.5rem 1rem;
        font-family: inherit;
      }
      .text-input:focus {
        outline-color: $main-color;
      }
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }

    a {
      color: #fff;
    }
  }

  &-c {
    h1 {
      text-align: center;
      font-size: 4rem;
    }
  }
}

// Footer
#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    .social .fab {
      color: #fff;
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $mix-color;
      }
    }
  }
}

@import "media";
